*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.overall{
    padding:30px 0px;
    background-color:  white;
    
    overflow: hidden;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    

}

.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.but-1, .but-2{
    border-radius: 30px;
    font-family: "Kumbh Sans", sans-serif;
}

.lang{
    width:43%;
    min-height: 100px;
    border: 2px solid black;
    border-radius: 30px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:15px;
    margin-left: 20px;

}

.png{
    display: flex;
    gap:17px;
    
}

.lang h1{
    margin-left: 10px;
}

.im{
    width:100px;
    height: 80px;
}



a{
    text-decoration: none;
    color: black;
    font-size: 25px;
   font-family: Montserrat, sans-serif;
}

.about{
    display: flex;
    align-items: center;
    justify-content:center;
    width:25%;
    position: relative;
    left:-8%;
   min-height:70px;
    background-color: white;
    border-top-right-radius:40px;
    border-bottom-right-radius:40px;
    color: white;
    animation:aa1 1s 1s linear forwards;
    opacity:0;
    background-image: linear-gradient(to right, #ffffff -29%, #404040 70%, #ffffff 108%, #666666);
    font-size: 26px;
    font-family: "Kumbh Sans", sans-serif;
}



@keyframes aa1{
    from{
        transform: translateX(-100%);
        opacity:0;
    }

    to{
        transform: translateX(0%);
        opacity:1;
    }
}


    .img {
    width: 316px;
    height: 300px;
    position: relative;
    right: 11px;
    top: 30%;
}



img{
    
    width:100%;
    height:100%;
    animation: aa3 1s 2s forwards;
    opacity: 0;
    
   
}


@keyframes aa3{
    0%{
        opacity: 0;
    }

    50%{
            opacity: 0.5;
    }

    100%{
        opacity: 1;
    }
}

.content{
    width:60%;
    margin-left: 50px;
    /* background-color: red; */
    min-height: 100px;
    margin-top: 100px;
}

h1{
    font-family: "Kumbh Sans", sans-serif;
}

.but{
    display: flex;
    justify-content: start;
    align-items: center;
    gap:20px;
    margin-top: 30px;
}

.but-1{
    padding:13px 18px;
    background-color: black;
    color:white;
    border:2px solid black;
    width:19%;
     display: flex;
    align-items: center;
    font-size: 20px;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
}

.but-2{
    padding:8px 10px;
    background-color:white;
    color:black;
    border:2px solid black;
    width:19%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 20px;
}

body{
    animation:aa2 1s linear;
}

@keyframes aa2{
    from{
        transform: translateY(100%);
    }

    to{
        transform: translateY(0%);
    }
}

.lang{
    padding:10px;
}

.lang img{
    width:70px;
    height:70px;
}


@media (min-width: 300px) and (max-width: 600px) {

    nav{
        flex-direction: column;
    }

    .overall{
            padding: 10px;
    }

    .about h1{
        color:black;
        font-size: 25px;
    }



    .about{
        background-color: white;
        background-image: linear-gradient(white);
        position: static;
    }
    a{
        font-size: 17px;
    }
    .overall{
        min-height: 100px;
    }

    .content h1{
        font-size: 15px;
        width:100%;
    }

    .content{
        width:100%;
        margin-left: 25px;
        margin-right: 25px;
    }

   .img {
    width: 100%;
    height: 300px;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 28%;
}

    img{
        width:300px;
    }

    .but-1, .but-2{
        width:50%;
        font-size: 13px;
        padding: 13px 15px;
    }

    .lang{
        width:98%;
      
    }

    .lang h1{
        font-size: 15px;
    }

    .lang img{
        width:50px;
        height:50px;
    }

    .lang{
        margin-left: 0px;
    }

    .png{
        display: flex;
        flex-wrap: wrap;
    }

    .main{
        margin-top: 200px;
    }

    .img img{
        height:81%;
    }
}

@media (min-width: 600px) and (max-width: 900px) {




    .about h1{
        color:black;
        font-size: 25px;
    }

    .about{
        background-color: white;
        background-image: linear-gradient(white);
        position: static;
    }
    a{
        font-size: 17px;
    }
    .overall{
        min-height: 100px;
    }

    .content h1{
        font-size: 15px;
        width:100%;
    }

    .content{
        width:100%;
        margin-top: 28%;
        margin-right: 50px;
    }

   .img {
    width: 200px;
    height: 200px;
    position: absolute;
    right: 32%;
    top: 13%;
}

    .but-1, .but-2{
        width:50%;
        font-size: 15px;
        padding: 13px 15px;
    }

    .lang{
        width:92%;
      
    }

    .lang h1{
        font-size: 15px;
    }

    .lang img{
        width:50px;
        height:50px;
    }

    .png{
        display: flex;
        flex-wrap: wrap;
    }
}


@media (min-width: 900px) and (max-width: 1200px) 

{

    .but-1, .but-2{
        width:30%;
    }

    .lang{
        width:70%;
    }
}

