*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}



.overall{
    width:100%;
    height:100vh;
    display: flex;
    overflow: hidden;
}

.l{
    width:30%;
    height:100vh;
    background-color: white;
    
    
}

.r{
    width:70%;
    height:100vh;
    background-color: black;
}

.name{
    display: flex;
    align-items: center;
    justify-content: end;
    letter-spacing: 5px;
    font-size: 60px;
    font-family: "Kumbh Sans", sans-serif;
    color: black;

}

.name1{
    display: flex;
    align-items: center;
    justify-content: start;
    letter-spacing: 5px;
    font-size: 60px;
    font-family: "Kumbh Sans", sans-serif;
    color: white;

}

.img{
    height:450px;
    width:350px;
    background-color: transparent;
    /* border:5px solid black; */
    border-radius: 20px;
    position: absolute;
    top:25%;
    left:15%;
}

img{
    width:95%;
    height:95%;
    border: 5px solid black;
    border-radius: 10px;
}

.form{
    min-height: 100px;
    width:70%;
    margin: auto;
    /* background-color: brown; */
    margin-top: 20px;
   
    color: white;
    font-family: "Kumbh Sans", sans-serif;
}

form{
     display: grid;
    gap:10px;
}

input{
    width:100%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid white;
    background-color: black;
    color: white;
    font-size: 15px;
}

input::placeholder{
    color:white;
}

button{
        background-color: white;
        color:black;
        font-size: 20px;
        padding:10px;
        width:100%;
        border-radius:10px;
}

.icon{
    height:100px;
    width:100px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left:90%;
    top:80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    
}

a{
    color: black;
}

.new{
    display: none;
    font-size: 20px;
    color:black;
    font-family:"Kumbh Sans", sans-serif; 
}



textarea{
     width:100%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid white;
    background-color: black;
    color: white;
    font-size: 15px;
    height: 200px;
}

a:focus{
    animation:aa 2s forwards;
}

@keyframes aa{
    0%{
        opacity:1;
    }

    100%{
        opacity:0;
    }
}


h1{
    font-family: "Kumbh Sans", sans-serif;
}

button{
    font-family: "Kumbh Sans", sans-serif;
}

input{
    font-family: "Kumbh Sans", sans-serif;
}

  .img:hover {
        transform: scale(1.05) rotate(-2deg);
    }

    .icon:hover {
    
        transform: rotate(360deg);
    }

    .icon:hover a{
             transform: rotate(360deg);
    }




    /* Page entrance animation */
body {
    animation: fadeIn 1.5s ease forwards;
    background-color: white;
}

@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(0px); }
    100% { opacity: 1; transform: translateY(0); }
}

.overall {
    width: 100%;
    height: 100vh;
    display: flex;
}

.l {
    width: 30%;
    height: 100vh;
    background-color: white;
    animation: slideLeft 1.5s ease forwards;
}

@keyframes slideLeft {
    0% { transform: translateX(-100px); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}

.r {
    width: 70%;
    height: 100vh;
    background-color: black;
    animation: slideRight 1.5s ease forwards;
}

@keyframes slideRight {
    0% { transform: translateX(100px); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}

.name, .name1 {
    display: flex;
    align-items: center;
    letter-spacing: 5px;
    font-size: 60px;
    font-family: "Kumbh Sans", sans-serif;
}

.name {
    justify-content: end;
    color: black;
}

.name1 {
    justify-content: start;
    color: white;
}

.img {
    height: 450px;
    width: 350px;
    background-color: transparent;
    border-radius: 20px;
    position: absolute;
    top: 25%;
    left: 15%;
    animation: popIn 2s ease forwards;
    opacity: 0;
}

@keyframes popIn {
    0% { transform: scale(0.8) rotate(-5deg); opacity: 0; }
    100% { transform: scale(1) rotate(0deg); opacity: 1; }
}

img {
    width: 95%;
    height: 95%;
    border: 5px solid black;
    border-radius: 10px;
    transition: 0.4s;
}

img:hover {
    transform: scale(1.05) rotate(-2deg);
}

.form {
    width: 70%;
    margin: 30px auto;
    color: white;
    font-family: "Kumbh Sans", sans-serif;
    animation: fadeUp 1.5s ease forwards;
    opacity: 0;
}

@keyframes fadeUp {
    0% { transform: translateY(50px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}

form {
    display: grid;
    gap: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid white;
    background-color: black;
    color: white;
    font-size: 15px;
    font-family: "Kumbh Sans", sans-serif;
    transition: 0.3s;
}

input:focus, textarea:focus {
    outline: none;
    border-color: white;
    box-shadow: 0 0 10px white;
}

button {
    background-color: white;
    color: black;
    font-size: 20px;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    font-family: cursive;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background-color: black;
    border: 2px solid white;
    color: white;
    transform: scale(1.05);
}

.icon {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: 90%;
    top: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    transition: 0.3s ease;
}

.icon:hover {
    transform: rotate(360deg) scale(1.1);
    
}

a {
    color: black;
    text-decoration: none;
}

/* Click animation for arrow */
a:focus i {
    animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
    0% { opacity: 1; transform: scale(1); }
    100% { opacity: 0; transform: scale(1.5); }
}

h1 {
    font-family: "Kumbh Sans", sans-serif;
}

button{
    font-family: "Kumbh Sans", sans-serif;
}

/* Responsive Design for 300px - 600px screens */
@media (min-width: 300px) and (max-width: 600px) {
    .overall {
        flex-direction: column;
        height: auto;
    }

    .l, .r {
        width: 100%;
        height: auto;
    }

    .name, .name1 {
        justify-content: center;
        font-size: 35px;
        text-align: center;
        letter-spacing: 3px;
    }

    .img {
        position: relative;
        top: 0;
        left: 0;
        width: 80%;
        height: auto;
        margin: 20px auto;
    }

    img {
        width: 100%;
        height: auto;
        border: 3px solid black;
    }

    .form {
        width: 90%;
        margin: 20px auto;
        text-align: center;
    }

    input, textarea, button {
        width: 100%;
        font-size: 14px;
    }

    .icon {
        width: 60px;
        height: 60px;
        font-size: 20px;
        position: fixed;
        left: 80%;
        top: 85%;
    }

    h1 {
        font-size: 20px;
    }

    .l .name h1{
        /* margin-top: 1px; */

    }


    .r .h1-1{
            position: absolute;
        top:2%;
    color: black;
    
    }

    .r{
        position: absolute;
        top:56%;
    }

    img{
        height:312px;
        width:65%;

    }

    .icon{
        top:-49%;
        background-color: black;
        position: absolute;
    }

    a{
        color: white;
    }

     
}


@media (min-width: 300px) and (max-width: 600px) {
    .r{
        top:100%
    }

    /* .r .h1-1{
        top:-90%;
    } */

    .h1111 {
        display: none;

    }

    .new{
        display: block;
        
    }
}
@media (min-width: 500px) and (max-width: 600px) {

 /* .r .h1-1{
            position: absolute;
     top: -90%;
    color: black;
    left: 55%;
    } */



}


@media (min-width: 300px) and (max-width: 428px) {

 /* .r .h1-1{
            position: absolute;
     top: -90%;
    color: black;
    left: 58%;
    } */

}


@media (min-width: 600px) and (max-width: 800px) {

   
    .overall {
        flex-direction: column;
        height: auto;
    }

    .l, .r {
        width: 100%;
        height: auto;
    }

    .name, .name1 {
        justify-content: center;
        font-size: 35px;
        text-align: center;
        letter-spacing: 3px;
    }

    .img {
        position: relative;
        top: 0;
        left: 0;
        width: 80%;
        height: auto;
        margin: 20px auto;
    }

    img {
        width: 100%;
        height: auto;
        border: 3px solid black;
    }

    .form {
        width: 90%;
        margin: 20px auto;
        text-align: center;
    }

    input, textarea, button {
        width: 100%;
        font-size: 14px;
    }

    .icon {
        width: 60px;
        height: 60px;
        font-size: 20px;
        position: fixed;
        left: 80%;
        top: 85%;
    }

    h1 {
        font-size: 20px;
    }


    .new{
    display: block;}

/* 
    .r .h1-1{
            position: absolute;
    top: 2%;
    color: black;

    } */

    .r{
        position: absolute;
        top:56%;
    }

    img{
        height:312px;
        width:65%;

    }

    .icon{
        top:-49%;
        background-color: black;
        position: absolute;
    }

    a{
        color: white;
    }

      .r{
        top:100%
    }

    

     
}


@media (min-width: 600px) and (max-width: 800px) {

/* 
    .r .h1-1{
        left:54%;
        top:-90%;
    } */


    .h1111{
    display: none;
}

.h1-1{
        display: none;
}
}




@media (min-width: 800px) and (max-width: 1200px) {
    h1{
        font-size: 50px;
    }

    .img{
        left:2%;
    }

    form h1{
        font-size: 35px;
    }

    .icon{
        height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: 87%;
    top: 62%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    transition: 0.3s ease;
    }


    img{
        width:80%;
        height: 80%;
    }
}


@media (min-width: 1200px) and (max-width: 1400px) {

    .img{
        left:10%;
    }

}










