*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.overall{
    padding:30px 0px;
    background-color: black;
    min-height: 100vh;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;

}

body{
    animation: aa2 1s linear forwards;
}

@keyframes aa2 {
    from{
        transform: translateY(-100%);
    }

    to{
        transform: translateY(0px);
    }
    
}
.project{
    display: flex;
    align-items: center;
    
    justify-content:center;
    width:200px;
    position: relative;
    left:-8%;
    height:70px;
    background-color: black;
    border-top-right-radius:40px;
    border-bottom-right-radius:40px;
    animation:aaa1 1s 1s linear forwards;
     background-image: linear-gradient(to right, #e6d8d8 20%, #ffffff 60%, #c5baba);

    opacity:0;
}



@keyframes aaa1{
        from{
            transform: translateX(-100%);
            opacity:0;
        }

        to{
            transform: translateX(0%);
            opacity:1;
        }
}

a{
    color: white;
    font-size: 25px;
    text-decoration: none;
     font-family: "Kumbh Sans", sans-serif;
}

.projects-div{
    width:90%;
   
    min-height: 100px;
    display: flex;
    
    gap:20px;
    margin: auto;
    margin-top:5%;
}

.box{
    width:33%;
    min-height: 100px;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
}

h1{
     font-family: "Roboto", sans-serif;
}

.content{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    gap:20px;
    padding: 20px;
    background-color: lightgrey;
    border-radius: 5px;
}

button{
    padding:10px 20px;
    border-radius: 40px;
    font-size: 15px;
    background-color: #404040;
    color:whitesmoke;
    border: none;
    font-family: "Kumbh Sans", sans-serif;
    
}
.c-2{
    background-color: #202020;
    color:white;

}



.c-3{
    background-color: darkgray;
    color:black;
}

.but{
    width:70%;
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    margin-top: 40px;
}

.icon{
    width:50px;
    height: 50px;
    border-radius: 20px;
    font-size: 20px;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    display: flex;
    color:white;
}

.last{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.icon a{
    color:black;
}

h1{
    text-align: start;
    
}

p{
    
    width:100%;
    font-size: 17px;
    font-family: "Kumbh Sans", sans-serif;
}

@media only screen and (min-width:300px) and (max-width:650px){

    .box{
        width:100%;
    }

    .projects-div{
        flex-direction: column;
    }

    .overall{
        min-height: 100vh;
    }

    nav{
            flex-direction: column;
    }

    .project{
        background-color: black;
        color: white;
        position: static;
        background-image: none;
    }
}

@media only screen and (min-width:755px) and (max-width:1200px){

    .box{
        width:45%;
    }

    .but{
        width:100%;
    }
    .projects-div{
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    h1{
        font-size: 23px;
    }

    .project{
        left:-6%;
    }

    a{
        font-size: 20px;
    }




}


@media only screen and (min-width:650px) and (max-width:775px){
    .box{
        width:45%;
        height: 450px;
    }

    .last h1{
        font-size: 20px;
    }

    .but{
        width:100%;
    }
    .projects-div{
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .content h1{
        font-size: 23px;
        position:relative;
        top:0%;

    }

    .content{
        height:300px;
        overflow-y: scroll;
        margin-top: 5px;
        padding-top: 77px;
    }

    nav h1{
        font-size: 20px;
    }

    .project{
        left:-6%;
    }

    nav a{
        font-size: 20px;
    }

   

   
    .bb{
        top:60%;
    }




}

@media only screen and (min-width:1200px) and (max-width:1600px){

    .but{
        width:100%;
    }

    .c-3 .but{
        width:80%;
    }

}
